# Домашнее задание «Библиотека Pandas»

## Задание 1
#### Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
# Датасет с movieId и названиями фильмов (файл/папка должен лежать в одной папке с файлом Python):
df1 = pd.read_csv('ml-latest-small/movies.csv')
df1.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [3]:
# Датасет с movieId и оценками:
df2 = pd.read_csv('ml-latest-small/ratings.csv')
df2.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [4]:
# Добавляем к датасету 2 колонку с названиями фильмов из датасета 1
df3 = pd.merge(df2 [['userId', 'movieId', 'rating']], df1[['movieId', 'title']], how = 'left')
df3.head(3)

   userId  movieId  rating                    title
0       1        1     4.0         Toy Story (1995)
1       1        3     4.0  Grumpier Old Men (1995)
2       1        6     4.0              Heat (1995)

In [5]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
 3   title    100836 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 3.5+ MB

In [6]:
# Создаем датасет, где оставляем только данные с оценкой 5:
filtered_df3 = df3[(df3['rating'] == 5)]
filtered_df3.head(3)

   userId  movieId  rating                        title
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0   Usual Suspects, The (1995)
6       1      101     5.0         Bottle Rocket (1996)

In [206]:
# Группируем данные по названию фильмов, считаем для каждого фильма кол-во оценок 5 и сортируем по убыванию:
filtered_df3.groupby('title').count().sort_values('rating', ascending = False).head(1)

                                  userId  movieId  rating
title
Shawshank Redemption, The (1994)     153      153     153

## Задание 2
#### По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [20]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
 4   baltic    1189482 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 36.3+ MB

In [8]:
# Проверяем на наличие отрицательных значений в колонке quantity:
power_sorted = power.sort_values('quantity')
power_sorted.head()

              country  year  quantity  category
832375  United States  2000 -864348.0        42
832373  United States  2002 -562414.0        42
832362  United States  2013 -551490.0        42
832380  United States  1995 -493380.0        42
832322        Ukraine  2010 -477263.0        42

In [39]:
# Используем формулу преподавателя из лекции :)
def type_ (country):
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Baltics'
    return 'Others'

In [42]:
# Добавляем в датасет новый столбец:
power['type_'] = power.country.apply(baltic)
power.head()

   country  year  quantity  category  baltic   type_
0  Austria  1996       5.0         1  Others  Others
1  Austria  1995      17.0         1  Others  Others
2  Belgium  2014       0.0         1  Others  Others
3  Belgium  2013       0.0         1  Others  Others
4  Belgium  2012      35.0         1  Others  Others

In [43]:
# Исключаем отрицательные кол-ва, фильтруем по категории и по типу (Baltics, Other):
power_category_Baltics = power[(power['quantity'] > 0) & ((power['category'] == 4)|(power['category'] == 12)|(power['category'] == 21)) & (power['type_'] == 'Baltics')] 
power_category_Baltics.head(5)

       country  year  quantity  category   baltic    type_
10617  Estonia  2008       1.0         4  Baltics  Baltics
10620  Estonia  2005       1.0         4  Baltics  Baltics
10621  Estonia  2004       1.0         4  Baltics  Baltics
10622  Estonia  2003       1.0         4  Baltics  Baltics
10624  Estonia  2001       1.0         4  Baltics  Baltics

In [45]:
# Выбираем период с 2005 по 2010:
power_period_Baltics = power_category_Baltics[(power_category_Baltics['year'] > 2004) & (power_category_Baltics['year'] < 2011)]
power_period_Baltics.head()

         country  year  quantity  category   baltic    type_
10617    Estonia  2008       1.0         4  Baltics  Baltics
10620    Estonia  2005       1.0         4  Baltics  Baltics
11156  Lithuania  2008       1.0         4  Baltics  Baltics
11158  Lithuania  2006       1.0         4  Baltics  Baltics
11159  Lithuania  2005       1.0         4  Baltics  Baltics

In [46]:
# Сумма по странам Прибалтики:
total = power_period_Baltics['quantity'].sum()
print(total)

240580.0

In [38]:
power_period_Baltics.groupby('baltic').sum().head()

           year  quantity  category
baltic
Baltics  696607  240580.0      5943

## Задание 3
#### Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [5]:
currency = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding = 'utf-8')[1]
currency.head()
print(currency.columns)

Index(['Unnamed: 0', 'Рубль', 'Предложение', 'Спрос', 'Предыдущее закрытие',
       '%', 'Абсолютное значение', 'Время'],
      dtype='object')

In [6]:
currency.rename(columns = {'Unnamed: 0':'New_Unnamed','Рубль':'New_Rubble', '%':'New_Percentage' }, inplace = True) 
print(currency.columns)

Index(['New_Unnamed', 'New_Rubble', 'Предложение', 'Спрос',
       'Предыдущее закрытие', 'New_Percentage', 'Абсолютное значение',
       'Время'],
      dtype='object')

In [132]:
currency2 = pd.read_html('https://fortrader.org/quotes')[0]
currency2.head()
print(currency2.columns)

Index(['Название', 'Цена', 'Изменение', 'Изменение(%)', 'Обновлено'], dtype='object')

In [133]:
currency2.rename(columns = {'Название':'Title','Цена':'Price' }, inplace = True) 
print(currency2.columns)

Index(['Title', 'Price', 'Изменение', 'Изменение(%)', 'Обновлено'], dtype='object')

### Вопрос 3.1: 
#### По ссылке данные не в табличном формате. Как можно выгрузить в таблицу товары с ценами?

In [120]:
prices2 = pd.read_html('https://spb.vseinstrumenti.ru/instrument/akkumulyatornyj/shlifmashiny/vibratsionnye/#goods')[5]
prices2.head()

    0   1                    2
0 NaN NaN     м. Академическая
1 NaN NaN  м. Василеостровская
2 NaN NaN        м. Выборгская
3 NaN NaN         м. Девяткино
4 NaN NaN           м. Дыбенко

In [122]:
prices = pd.read_html('https://www2.hm.com/ru_ru/zhenshchiny/novye-postupleniya/odezhda')[1]
prices.head()

HTTPError: HTTP Error 403: Forbidden